:root {
    /* Default Properties:
        --border-colour: #d7d7d7;
        --panel-border-radius: 10px;
        --inner-border-radius: 6px;
    */

    --border-colour: #d7d7d7;
    --panel-border-radius: 10px;
    --inner-border-radius: 6px;
    --background-colour: #f5f5f5;
    --dark-background-colour: #e1e1e1;
}

* {
    font-family: 'Montserrat', sans-serif !important;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/styles/fonts/montserrat.woff2') format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

#menubar {
    width: calc(100% - 15px);
    height: 70px;
    display: flex;
    align-items: center;
    background-color: #ffffff;
    padding-left: 15px;
    position: sticky;
    transition: height 0.3s ease-out;
    top: 0;
    z-index: 2;
}

#menubar > div > h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    transition: font-size 0.3s ease-out;
    font-size: 30px;
}

#menubar.minimise {
    height: 50px;
}

#menubar.minimise > h1 {
    font-size: 24px !important;
}

body {
    transition: filter 0.3s ease-out;
    z-index: 1;
    background-color: var(--background-colour);
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

#disclaimer {
    position: fixed;
    transform: translateY(-155px) translateX(-50%);
    transition: transform 0.6s ease-in-out;
    z-index: 1000;
    width: calc(100% - 20px);
    max-width: 1000px;
    left: calc(50% - 10px);
    height: 60px;
    will-change: transform;
    background-color: var(--background-colour);
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: var(--border-colour) 0px 3px 10px;
    border-radius: 10px;
    border: var(--border-colour) 2.5px solid;
    font-family: 'Montserrat', sans-serif;
    margin: 10px;
    font-size: clamp(12px, 2vw, 16px);
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

#disclaimer.show {
    transform: translateY(0%) translateX(-50%);
}


#wrap {
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  will-change: filter;
  transition: filter 0.3s ease-out;
  overflow: hidden !important;
}


#firstrow {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#tab-panel {
    width: calc(100% - 20px);
    height: 55px;
    flex-direction: row;
    max-width: 750px;
    margin: 10px 0px 0px 10px;
    z-index: 5;
    min-width: none;
    border: solid 3px var(--border-colour);
    border-radius: var(--panel-border-radius);
    box-sizing: border-box;
}

#settings-button {
    transition: background-color 0.15s ease-out;
    width: 55px;
    background-color: var(--background-colour);
    height: 55px;
    max-width: 750px;
    margin: 10px 10px 0px 10px;
    min-width: none;
    border: solid 3px var(--border-colour);
    border-radius: var(--panel-border-radius);
    box-sizing: border-box;
    cursor: pointer;
    will-change: background-color;
}

#settings-button:hover {
    background-color: #a2a2a23e;
}

#settings-button:active {
    background-color: #a2a2a21b;
}

#input-panel {
    width: calc(100% - 20px);
    height: 333px;
    max-width: 815px;
    margin: 10px 10px 0px 10px;
    min-width: none;
    border: solid 3px var(--border-colour);
    border-radius: var(--panel-border-radius);
    box-sizing: border-box;
}

#results-panel {
    width: 55%;
    height: 305px;
    max-width: 815px;
    margin: 10px 5px 5px 0px;
    min-width: none;
    border: solid 3px var(--border-colour);
    border-radius: var(--panel-border-radius);
    box-sizing: border-box;
}

#suggestions-panel {
    width: 100%;
    padding-right: 10px;
    height: 305px;
    max-width: 815px;
    margin: 10px 0px 0px 5px;
    min-width: none;
    border: solid 3px var(--border-colour);
    border-radius: var(--panel-border-radius);
    box-sizing: border-box;
}

.innerwrap {
    width: inherit;
    height: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#tabs {
    display: flex;
}

.tab {
    transition: all 0.3s ease-out;
    height: 50px;
    width: 100%;
    display: flex;
    border-bottom: solid 2px var(--border-colour);
    justify-content: center;
    align-items: center;
    font-size: 20px;
    cursor: pointer;
    will-change: background-color border-bottom;
}

input.invalid {
    border: solid 2.5px #da0000;
}

#bmr-input {
    display: flex;
    flex-direction: row;
    margin: 10px;
}

.tab:hover {
    background-color: #2a2a2a0e;
}

.tab:active {
    background-color: #a2a2a23e;
}

.tab[id="bmrTab"] {
    border-top-left-radius: 7px !important;
    border-bottom-left-radius: 7px !important;
}

.tab[id="macrosTab"] {
    border-top-right-radius: 7px !important;
    border-bottom-right-radius: 7px !important;
}

#macro-inputs {
    display: flex;
    justify-content: center;
}

.macro-input-divider {
    font-size: 30px;
    width: 25px;
    display: flex;
    color: #a0a0a0;
    font-weight: 800;
    justify-content: center;
    align-items: center;
}

.macro-input-divider.percentage {
    margin-left: 10px;
    color: black;
}

.macro-input {
    width: 100px;
}

#globalsettings {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 100%);
  width: 90%;
  max-width: 720px;
  height: 95%;
  max-height: 920px;
  background-color: var(--background-colour);
  border: solid 3px var(--border-colour);
  border-radius: var(--panel-border-radius);
  box-sizing: border-box;
  z-index: 5;
  transition: transform 0.3s ease;
}

#globalsettings.active {
  transform: translate(-50%, -50%);
}

.title {
    font-size: 20px;
    display: block;
    margin: 20px;
    font-weight: 200;
}

.title.wSubtitle {
    margin-bottom: 0px;
}

.subtitle {
    margin-left: 20px;
    margin-top: 3px;
    margin-bottom: 0px;
    font-size: 15px;
    color: #9d9d9d;
}

input {
    width: 180px;
    height: 25px;
    will-change: border;
    transition: border 0.3s ease-out, background-color 0.3s ease-out;
    font-family: 'Montserrat', sans-serif;
    margin: 5px 0px 0px 5px;
    background-color: #e8e8e8;
    padding: 5px;
    border-radius: var(--inner-border-radius);
    border: solid 2.5px var(--border-colour);
    
}

input:disabled {
    border: solid 2.5px #939393;
    background-color: #bbbbbb;
    cursor: not-allowed;
}

select {
    width: 195px;
    height: 45px;
    will-change: border;
    transition: border 0.4s ease-out;
    font-family: 'Montserrat', sans-serif;
    margin: 5px 0px 0px 5px;
    background-color: #e8e8e8;
    padding: 5px;
    border-radius: var(--inner-border-radius);
    border: solid 2.5px var(--border-colour);
}

label {
    font-size: 14px;
    width: 180px;
    height: 15px;
    will-change: border;
    transition: border 0.4s ease-out;
    font-family: 'Montserrat', sans-serif;
    margin: 5px 0px 0px 5px;
    background-color: #e8e8e8;
    padding: 5px;
    display: flex;
    align-items: center;
    border-radius: var(--inner-border-radius);
    border: solid 2.5px var(--border-colour);
}


#unit-preferences {
    width: 100%;
    height: 200px;
    display: block;
    /*border-top: solid var(--border-colour);
    border-bottom: solid var(--border-colour);*/
}

select.setting {
    width: 140px;
    border-radius: var(--panel-border-radius);
    height: 40px;
    margin: 10px;
    margin-right: 0px;
}

#settings-button:hover #settings-logo {
    transform: scale(1);
}

#settings-logo {
    will-change: transform;
    transition: transform 0.4s ease-out;
}

#settings-logo.rotate {
    transform: rotate(180deg) !important;
}

.settings-row {
    padding-left: 20px;
    padding-right: 20px;
    width: calc(100% - 75px);
    margin: 15px;
    margin-top: 5px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 120px;
    border: solid 3px var(--border-colour);
    border-radius: var(--panel-border-radius);
}

.settings-row > div {
    display: flex;
    align-items: center;
    height: 50px;
    width: 100%;
    justify-content: space-between;

}

.tooltip {
    position: absolute;
    background-color: var(--dark-background-colour);
    border: solid 3px var(--border-colour);
    padding: 7px;
    margin: 5px;
    visibility: hidden;
    font-size: clamp(12px, 1.5vw, 14px);
    pointer-events: none;
    opacity: 0;
    top: 50px;
    z-index: 2;
    transform: scale(0.98);
    will-change: opacity visibility transform;
    transition: opacity 0.3s ease-out, visibility 0.3s ease-out, transform 0.25s ease-out;
    border-radius: var(--panel-border-radius);
}

.disabled-add-caution .tooltip {
    transition: opacity 0.3s ease-out, visibility 0.3s ease-out, transform 0.25s ease-out;
    top: 325px;
    left: 50%;
    transform: translateX(-50%) scale(0.98);
    border: solid 3px #898989;
    background-color: #a8a8a8;
}

.disabled-add-caution:hover .tooltip, .tooltip-hover {
    visibility: visible;
    opacity: 1;
    transform: translateY(0px) scale(1) translateX(-50%);
}

.tooltip[id="offset-tooltip"] {
    top: 676px;
    font-size: 15px;
    width: 175px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 12px !important;
}

.tab:hover .tooltip {
    visibility: visible;
    opacity: 1;
    transform: translateY(15px) scale(1);
}

#second-row-wrap {
    display: flex;
    width: calc(100% - 20px);
    max-width: 815px;
    flex-direction: row;
}

#results-box {
    margin: 20px;
    height: calc(100% - 80px);
}

#results-text {
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: clamp(10px, 3.6vw, 30px);
    font-weight: 500;
    text-align: center;
}

.column {
    display: flex;
    flex-direction: column;
}

.active-tab {
    border-bottom: solid 2px #818181;
}

select {
    cursor: pointer;
}

input[type="range"]::-webkit-slider-thumb {
    appearance: none;
    width: 100%;
    box-shadow: 0px 1px 4px #888888;
    height: 15px;
    max-width: 20px;
    border-radius: 3px;
    background-color: #8e8e8e;
    transition: max-width 0.2s ease-out, transform 0.2s ease-out, box-shadow 0.2s ease-out;
}

input[type="range"]::-webkit-slider-runnable-track {
    appearance: none;
    margin: -5px; /* Adjust based on thumb height */
    width: 100%;
    border-radius: 0px;
}

input[type="range"]:hover::-webkit-slider-thumb {  
    max-width: 25px;
}

input[type="range"]:active::-webkit-slider-thumb {
  max-width: 20px;
  cursor: grabbing;
  box-shadow: 0px 0.15px 4px #888888;
  transform: scale(0.85);
}


input[type="range"] {
    --percent: 50%;
    cursor: grab;
    background: linear-gradient(to right, #c8c8c8 0%, #949494 var(--percent), var(--dark-background-colour) var(--percent), var(--dark-background-colour) 100%);
    appearance: none;
    border-radius: 5px;
    border: solid 2px var(--border-colour);
}

#articles {
    margin: 10px;
    display: flex;
}

details {
    width: auto;
    max-width: 800px;
    min-height: 15px;
    padding: 10px;
    border: solid 3px var(--border-colour);
    border-radius: var(--panel-border-radius);
    text-align: left;
    box-sizing: border-box;
    line-height: 15px; /* Matches the height for vertical centering */
}

details summary {
    position: relative;
    padding-left: 20px; /* Space for the custom arrow */
    list-style: none;
}

details summary::before {
    content: "☰"; /* Or any symbol or icon */
    position: absolute;
    left: 0;
    transition: font-size 0.2s ease-out;
    top: 50%;
    transform: translateY(-50%);
    font-size: 14px; /* Adjust as needed */
    pointer-events: none; /* Prevent blocking clicks */
}

details[open] summary::before {
    content: "⨯"; /* Or any symbol or icon */
    font-size: 20px;
}

.margin {
    margin-right: 10px;
    margin-bottom: 5px;
}

.row {
    flex-direction: row;
}

.column {
    flex-direction: column;
}

.hidden {
    display: none;
}

#macro-tdee {
    width: clamp(100px, 65vw, 500px)
}

#ratio-panel {
    width: calc(100% - 20px);
    height: 233px;
    max-width: 815px;
    margin: 10px 10px 0px 10px;
    min-width: none;
    border: solid 3px var(--border-colour);
    border-radius: var(--panel-border-radius);
    box-sizing: border-box;
}

/* 
    Moving to Preferences

    ##########################
    ##                      ##
    ##      Preferences     ##
    ##        Settings      ##
    ##                      ##
    ##########################

*/

@media (prefers-reduced-motion: reduce) {
    * {
        transition-duration: 0.01ms !important;
    }
}

@media (prefers-contrast: more) {
    :root {
        --border-colour: #797979 !important;
    }
}

@media (max-width: 500px) {
    #second-row-wrap {
        flex-direction: column;
    }
    #articles {
        flex-direction: column !important;
    }
    details {
        width: 100%;
        line-height: 1.2em;
    }
    #results-panel {
        width: 100%;
    }
    #input-panel > * {
        flex-direction: column;
        align-items: center;
    } 
    #input-panel {
        height: fit-content;
        padding-bottom: 5px;
    }
    #suggestions-panel {
        width: 100%;
        margin-top: 5px;
        margin-left: 10px;
    }
    #articles {
        width: calc(100% - 20px);
    }
    .tab {
    font-size: 15px;
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --border-colour: #1f1f1f;
        --background-colour: #252525;
        --dark-background-colour: #212121;
    }

    * {
        color: #f5f5f5;
    }

    #menubar {
        background-color: #212121 !important;
    }

    input, label, select {
        background-color: #1f1f1f !important;
    }

    input[type="range"]::-webkit-slider-thumb {
    appearance: none;
    width: 100%;
    box-shadow: 0px 1px 4px #1e1e1e;
    height: 15px;
    max-width: 20px;
    border-radius: 3px;
    background-color: #424242;
    transition: max-width 0.2s ease-out, transform 0.2s ease-out, box-shadow 0.2s ease-out;
}

input[type="range"]::-webkit-slider-runnable-track {
    appearance: none;
    margin: -5px; /* Adjust based on thumb height */
    width: 100%;
    border-radius: 0px;
}

input[type="range"]:hover::-webkit-slider-thumb {  
    max-width: 25px;
}

input[type="range"]:active::-webkit-slider-thumb {
  max-width: 20px;
  cursor: grabbing;
  box-shadow: 0px 0.15px 4px#1e1e1e;
  transform: scale(0.85);
}

input[type="range"] {
    --percent: 50%;
    cursor: grab;
    background: linear-gradient(to right, #2e2e2e 0%, #4d4d4d var(--percent), var(--dark-background-colour) var(--percent), var(--dark-background-colour) 100%);
    appearance: none;
    border-radius: 5px;
    border: solid 2px var(--border-colour);
}

.active-tab {
    border-bottom: solid 2px #373737;
}

input:disabled {
    border: solid 2.5px #424242;
    background-color: #5d5d5d !important;
}

input:disabled::placeholder {
    color: #202020;
}

.disabled-add-caution .tooltip {
    background-color: #343434;
    border: solid 3px #3d3d3d;
}

#settings-button:hover {
    background-color: #a2a2a21b;
}

#settings-button:active {
    background-color: #a2a2a23e;
}

input.invalid {
    border: solid 2.5px #580000;
}

.macro-input-divider.percentage {
    color: #f5f5f5;
}

}